/* Lays out main body elements */
body {
    margin: 0;
    padding: 0;
    background: #191a1a
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* Defines control elements */
.custom {
    float: left;
    clear: both;
    pointer-events: auto;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    user-select: none;
}

/* Defines control buttons */
.mode {
    margin: 10px 0 0 10px;
}

.active {
    color: white;
}

.mode.active {
    background-color: #448ee4;
}


.mode button {
    width: 29px;
    height: 29px;
}

.mode button .icon {
    width: 1.5em;
    height: 1.5em;
}

.mode button {
    display: block;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.mode:hover {
    filter: brightness(95%);
}

/* Establishes Legend */

.box {
    margin: 0 auto;
    width: 60px;
    height: 30px;
    display: flex;
    flex-grow: 0;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.text {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.colour {
    width: 25px;
    height: 100%;
}

.legend {
    font-size: 15px;
    width: 140px;
    height: 260px;
    float: left;
    margin: 0 0 10px 10px;
    user-select: none;
    background-color: white;
}

.legend>div {
    padding: 5px;
}

.title {
    text-align: center;
    border-bottom: 1px solid #ccc;
}

/* Time Control */
.timeline {
    user-select: none;
    border-radius: 4px;
    margin: 0 0 10px 10px;
    min-width: 300px;
    max-width: 500px;
    width: 40vw;
    height: 55px;
}

.bar {
    border-radius: 0 4px 4px 0;
}

.draggable {
    margin: 5px;
    margin-left: 10px;
    width: 100%;
    cursor: ew-resize !important;
    --track-color: transparent;
    --elapsed-color: #00b1ff;
    --thumb-color: white;
}

.year {
    font-size: 15px;
    float: right;
    margin: 5px;
    margin-right: 10px;
}

.control {
    box-sizing: border-box;
    height: 18.5px;

    border-color: transparent transparent transparent #448ee4;
    transition: 100ms all ease;
    will-change: border-width;
    cursor: pointer;

    border-style: solid;
    border-width: 9.25px 0 9.25px 15px;
}

.control.pause {
    border-style: double;
    height: 17px;
    border-width: 0px 0 0px 15px;
}